body{
  margin: 0;
  font-family: Arial, sans-serif;
  cursor: none;
  cursor: url('https://userstyles.org/style_screenshots/146004_after.png?r=1717660810');
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  leftpadding: 5px;
  rightpadding: 20px;
  background-color: 'black';
  color: white;
}

.header .logo {
    font-family: 'Brush Script MT', cursive;
    font-size: 1.5em;
}

.header nav {
    display: flex;
}

.header nav a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
}

.header nav a:hover {
    text-decoration: underline;
}
